#aboutMe{
  padding: 7% 15%;
  background-color: #FFF0EB;
}

#contact{
  background-color: #43998B;
  padding-top: 25px;
  padding-bottom: 20px;
}

#proyectos{
  padding: 7% 15%;
  background-color: #CAE3DF;
}

#pPrincipal{
  background-color: #CAE3DF;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #43998B;
  font-size: 12px;
  background: #CAE3DF;
  padding: 7px 15px 7px 15px;
  border: solid #43998B 1px;
  text-decoration: none;
}

.carousel-item{
  padding: 7% 15% 7% 15%;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.dados{
  width: 60%;
}

.encabezado{
  padding-top: 0;
}

.footer-link{
  color: #FFF0EB;
}

.habilidad{
  height: 150px;
  margin-left: 30px;
}

.infPer{
  padding: 20px 0;
}

.navbar{
  background-color: #43998B;
}

.nombre{
  padding-top: 20px;
}

.objetivo{
  height: 150px;
}

.tambores{
  width: 60%;
}

.tindog{
  width: 60%;
}

.software{
  height: 150px;
}

.YG{
  width: 200px;
}

body{
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #99340C;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #43998B;
}
h2{
  font-family: 'Libre Baskerville', serif;
  color: #E68863;
  font-weight: normal;
  font-size: 1.5625rem;
}
h3{
  font-family: 'Libre Baskerville', serif;
  color: #E68863;
}
